:root {
    --black: #272727;
    --blue: #4A6FA5;
    --yellow: #F9C784;
    --green: #629677;
}

body {
    background: linear-gradient(to right, var(--green), var(--blue));
    font-family: 'Courier New', Courier, monospace;
}

#title {
    font-size: 50px;
    border-bottom: 5px solid #272727;
    border-radius: 10px;
    margin-top: 5em;
}

#game-container {
    width: 60vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#button-container {
    background: linear-gradient(to left, var(--green), var(--blue));
    border: 10px solid black;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    width: 10rem;
    height: 10rem;
    padding: 0;
    border-radius: 20px;
}

#reset {
    font-size: 20px;
    width: 10rem;
}

button:hover {
    animation: button-hightlight 500ms forwards;
}

@keyframes button-hightlight {
    0% {}
    100% {
        background-color: var(--yellow);
        box-shadow: inset 10px;
    }
}

#scoreboard {
    width: 40vw;
}

#winner {
    font-size: 4em;
}